<!DOCTYPE html>
<html>
<head>
    <a href="/">
        <img border="0" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=435249531,1055559722&fm=27&gp=0.jpg">
    </a>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %>:</p>
<a href="/photos/create">添加图片</a>
<a href="/photos/search">图片查找</a>
<div id="photos">
    <% photos.forEach(function (photo) { %>
        <div class="photo">
            <h2><%= photo.name%></h2>
            <img src="<%= photo.path%>">
        </div>
   <% })%>
</div>
</body>
</html>